/Part 1 - Introduction to React/anecdotes
/Part 2 - Communicating with server/courseinfo
/Part 2 - Communicating with server/phonebook
/Part 2 - Communicating with server/countries
/Part 3 -  Programming a server with NodeJS and Express/notes/node_modules
phonebook